<h1>Chat</h1>

<a href="/">Home</a>

<p id="userName"></p>
<input type="text" name="messages" id="message" placeholder="Escribe un mensaje aquí." autocapitalize="on" >
<div id="divMessages">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>