<h1>Mis datos desde ruta <b>current</b></h1>
<section>
    <p>Información de la cuenta</p><i>{{returnUser.role}}</i>
    <div>
        <p>Nombre: <i>{{returnUser.first_name}}</i></p>
        <p>Email: <i>{{returnUser.email}}</i></p>

    </div>
    <p>¿No eres <i>{{returnUser.first_name}}</i>? <a href="/logout">Cerrar sesion ahora</a></p>
</section>