<section>
    <h2>Inicia Sesion</h2>
    <form action="/api/sessions/login" method="post">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        
        <input type="submit" value="Vamos!">
    </form>
</section>