<h1>Mis datos</h1>
<section>
    <p>Información de la cuenta</p><i>{{user.role}}</i>
    <div>
        <p>Nombre: <i>{{user.first_name}}</i></p>
        <p>Email: <i>{{user.email}}</i></p>

    </div>
    <p>¿No eres <i>{{user.first_name}}</i>? <a href="/logout">Cerrar sesion ahora</a></p>
</section>