<section>
    <h2>Registro</h2>
    
    <form action="/api/sessions/register" method="post">
        <input type="text" name="first_name" id="name" placeholder="Nombre">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        {{#if err}}
            <p style="color:rgb(228, 69, 69);">
                {{err}}
            </p>
        {{/if}}
        
        <input type="submit" value="Registrarme">
        
    </form>
</section>